---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="color-scheme" content="light dark">
		<meta name="description" content="loungebylounge" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
		integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
		crossorigin="anonymous" defer></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script async src="/osc.js" type="text/javascript" />
		<script async src="/cube.js" type="module" />
	</body>
</html>
<style is:global>
	:root {
	}
	main {
		text-align: center;
	}
</style>
