---
import Layout from "../layouts/Layout.astro";
---

<Layout title="fuck off.">
	<main>
		<pre>jiddi jadda FE 0.1.3</pre>
		<canvas id="glcanvas" width="640" height="480"></canvas>
	</main>
</Layout>

<style>
	canvas {
		margin: 0 auto;
	}
</style>