---
import Layout from "../layouts/Layout.astro";
import {Sqlite} from "@fermyon/spin-sdk"

const conn = Sqlite.openDefault();
const result = conn.execute("SELECT * FROM todos WHERE id > (?);", [1]);
const json = JSON.stringify(result.rows);
---

<Layout title="fuck off.">
	<main>
		<pre>jiddi jadda FE 0.1.4</pre>
		<div>
			{json}
			<canvas id="glcanvas" ></canvas>
		</div>		
	</main>
</Layout>

<style>
	canvas {
		width: 640px; 
		height: 480px;
	}
	main > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>


