---
import Layout from "../layouts/Layout.astro";

---

<Layout title="fuck off.">
	<main>
		<div id="container">
			<p>
				<span>jiddi jadda FE 0.1.6</span>
			</p>
			<div>
				<canvas id="glcanvas" ></canvas>
			</div>	
			<a target="_blank" href="https://github.com/lounge">
				https://github.com/lounge
			</a>
		</div>

	</main>
</Layout>

<style>
	canvas {
		width: 640px; 
		height: 480px;
	}
	body, html {
      height: 100%;
      margin: 0;
    }
	main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
	}
	#container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	a {
		font-family: monospace;
		background-color: #000000;
		color: cyan;
		padding: 2px 5px 2px 5px;
	}
	span {
		font-family: monospace;
		background-color: #000000;
		padding: 2px 5px 2px 5px;
	}
</style>


