---
import Layout from "../layouts/Layout.astro";

---

<Layout title="fuck off.">
	<main>
		<pre>jiddi jadda FE 0.1.6</pre>
		<div>
			<canvas id="glcanvas" ></canvas>
		</div>	
		<a target="_blank" href="https://github.com/lounge">https://github.com/lounge</a>
	</main>
</Layout>

<style>
	canvas {
		width: 640px; 
		height: 480px;
	}
	main > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	a {
		font-family: monospace;
	}
</style>


